@use './fonts.scss';
@use './colors.scss' as *;

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  font-size: 14px;
}

body {
  line-height: 1.5;

  // background-color: $black;
}
