@use '@/styles/mixins' as *;

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.5rem;
  margin-inline: auto;
  margin-top: 80px;

  @include media(sm) {
    margin-top: 200px;
  }
}
